.navbar {
  background-color: #303030;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar .logo {
  font-size: 1.9rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar .logo svg {
  font-size: 3rem;
}

.navbar .links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navbar .links .link {
  font-size: 1.2rem;
}

.navbar .links .link.active {
  color: #0000ff;
}

.navbar .links .link,
.navbar .logo {
  transition: all 300ms ease-in-out;
}

.navbar .links .link:hover,
.navbar .logo:hover {
  color: #0000ff;
}
